
@font-face{
    font-family: "freshman"; 
    src: url('../fonts/Freshman.ttf'); 
 }
@font-face{
    font-family: "sketchy";
    src: url('../fonts/CabinSketch-Regular.ttf'); 
 }
html{
    height: 100%;
}

body{
    padding: 0;margin: 0;
    box-sizing: border-box;
    color: #1d0c80;
    background-size: cover;
    font-family: "sketchy";
    text-align: center;
    background-attachment: fixed;
    /* height: 100%; */
}
.body{
    background: url("../images/back.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    height: 100%;
}
.container-fluid{
    background-color: rgba(255,255,255,.65);
    /* height: 110%; */
    margin: 0;
    padding-top: 100px;
}
.container{
    /* background-color: rgba(255,255,255,.65); */
    background-color: rgba(0,0,0,.65);
    margin-top: 0px;
}

header{
    /* height: 70px; */
    background-color: rgba(187, 53, 53, 0.9);
    text-align: center;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    position: fixed;
    width: 100%;
    color: #fff;
    flex-wrap: wrap-reverse;
    z-index: 999;
    margin-top: 0;
    padding: 15px;
}
header h1{
    font-family: "freshman";
    font-size: 2rem;
    width: 75%;
}
header a{
    width: 180px;
}
h2{
    color: #333;
    z-index: 999;
    font-size: 1.6rem;
}


/* container of districts list, map and form */
.main{
    margin:-80px auto auto auto;
    display: flex;
    justify-content: space-between;
    /* height: 100%; */
    /* height: 100vh; */
    min-height: 100vh;
    width: 84%;
    align-items: center;
    flex-wrap: wrap;
}


svg{
    transform: scale(1.35);
    height: 400px;
    /* width: 33%; */
    z-index: 2;
}

.district:hover{
    fill: #88ACE0;
    cursor: pointer;
}

.districts-text{
    width: 23%;
    display: flex;
    flex-direction: column;
}

.districts-text .text{
    text-align: left;
}
.districts-text h3{
    text-align: left !important;
    color: #333;
    font-size: 1.4rem;
    /* width: 80%; */
    margin: auto;
}
.districts-text label:hover{
    cursor: pointer;
}
.districts-text .text ul{
    text-align: left;
    transform: scaleY(0);
    height: auto;
    transition: all 0.6s ease;
}
.districts-text ul li{
    margin-top:4px;
}

.hidden{
    display: none;
}

/* district nums */
tspan{
    color: #333 !important;
    font-size: .8rem;
}

.form{
    width: 25%;
    float: right;
}


@media screen and (max-width: 1100px) {

    .districts-text{
        display: none;
    }
    svg{
        /* margin-top: 80px; */
        margin-left: 50px;
    }
    
    .form{
       width: 40% !important;
       /* min-width: 280px; */
    }
}

@media screen and (max-width: 840px) {
    .container-fluid{
        padding-top: 130px;
    }
    header h1{
        font-size: 1.7rem;
    }
    .main{
        flex-direction: column;
        justify-content: center;
        height: 200%;
        padding-bottom: 30px;
        margin-top: 50px;
    }
    svg{
        transform: scale(1.2);
        margin: auto;
        padding-top: 20px;
    }
    .form{
        width: 74% !important;
        margin-top: 50px;
    }
    header{
        justify-content: center;
    }
}


/*results*/
.results-body{
    background: url("../images/cliff.jpg") center left;
    background-attachment: fixed;
    min-height: 100vh;
    padding-top: 70px;
}
.results h2, .details-page h2{
    color: #fff;
    padding: 50px;
}

.results main{
    display: flex;
    flex-direction: column;
}

.club-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-start;
}
.club-list a {
    text-decoration: none;
}

.club-detail{
    width: 320px;   
    padding: 20px;
    margin-bottom: 26px;
    /* background: url("../images/fanion.png") no-repeat center; */
    background-color: rgba(255,255,255,.70);
    min-height: 320px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.club-detail h3{
    width: 90%;
    margin: auto;
    padding-top: 16px;
    color: #111;
    /* text-shadow:1px 1px 3px #fff, -1px -1px 3px #fff; */
}
.club-detail h4{
    background-color: rgba(187, 53, 53, 0.8);
    color: #fff;
    margin: 0;
    padding:12px 0;
    width: 100%;
}
.club-detail .postal{
    margin-bottom: 20px;
}
.club-detail:hover{
    transform: scale(1.05);
    transition: transform .6s ease;
}


/* details page*/
.detail-body {
    width: 100%;
    padding: 0;margin: 0;
    min-height: 100vh;
    background: url("../images/categ/ball.jpg") no-repeat center;
    /* background-size: 80%; */
    background-attachment: fixed;
}
.autres{
    background: url("../images/categ/autres.jpg") no-repeat;
    background-attachment: fixed;
}
.collectifs{
    background: url("../images/categ/ball.jpg") no-repeat center;
    /* background-size: 80%; */
    background-attachment: fixed;
}
.bateaux{
    background: url("../images/categ/bateaux.jpg") no-repeat center;
    background-attachment: fixed;
}
.combat{
    background: url("../images/categ/sports-de-combat.jpg") no-repeat center;
    background-attachment: fixed;
}
.tir{
    background: url("../images/categ/sports-de-tir.jpg") no-repeat center;
    background-attachment: fixed;
    background-size: cover;
}
.danses{
    background: url("../images/categ/danses.jpg") no-repeat center;
    background-attachment: fixed;
    background-size: cover;
}
.aquatiques{
    background: url("../images/categ/sports-aquatiques.jpg") no-repeat center;
    background-attachment: fixed;
    background-size: cover;
}
.glisse{
    background: url("../images/categ/sports-de-glisse.jpg") no-repeat center;
    background-attachment: fixed;
    background-size: cover;
}
.montagne{
    background: url("../images/categ/sports-de-montagne.jpg") no-repeat center;
    background-attachment: fixed;
    background-size: cover;
}
.musculation{
    background: url("../images/categ/gym.jpg") no-repeat top;
    background-attachment: fixed;
    background-size: cover;
}
.moto{
    background: url("../images/categ/velo-moto.jpg") no-repeat center;
    background-attachment: fixed;
    background-size: cover;
}
.raquettes{
    background: url("../images/categ/sports-de-raquettes.jpg") no-repeat center;
    background-attachment: fixed;
    background-size: cover;
}
.equestres{
    background: url("../images/categ/sports-equestres.jpg") no-repeat center;
    background-attachment: fixed;
    background-size: cover;
}
.athlétisme{
    background: url("../images/categ/athle.jpg") no-repeat bottom;
    background-attachment: fixed;
    background-size: cover;
}
.details-page{
    width: 72% !important;
    margin: auto;
}
.details-page p {
    font-size: 1.5rem;
}

.details-page i{
    font-size: 3rem;
    margin: 30px 0;
}

.main-infos-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 100px;
    align-items: center;
}
.club-name{
    background-color: rgba(0,0,0,.6);
    width: 380px;
    min-height: 300px;
    text-align: center;
    padding-top: 40px;
}
.club-name h2, h3{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: -55px;
    color: #fff;
    font-size: 2.1rem;
}
.club-name h3{
    background-color: #bb3535b3;
    margin:30px auto;
    padding: 8px 0;
}
.address{
    /* display: flex;
    align-items: center;
    flex-wrap: wrap; */
    padding: 30px;
}
.address i {
    font-size: 4rem;
    border-left: solid 1px rgba(255,255,255, .3);
    padding-left: 30px;
    color: rgba(187, 53, 53, 0.7);
}
.map-icon{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: auto;
}
.stadium{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.stadium img{
    opacity: .8;
}
.sepa-address{
    background-color: rgba(255,255,255, .3);
    width: 60%;
    margin:20px auto;
}
.address, .specifics{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 12px;
    color: #fff;
}

.web-link{
    margin: 40px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    transition: all 1s ease;
}
.web-link a {
    background-image: linear-gradient(#000, #333);
    color: #fff;
    height: 60px;
    padding: 10px 40px;
    font-size: 2rem;
    transition: all 1s ease;
}
.web-link a:hover {
    background-image: linear-gradient(#333, #000);
    text-decoration: none;
    box-shadow: inset 2px 2px 2px #333, inset -2px -2px 2px #333;
    transform: scale(1.03);
}

.specifics{
    padding-bottom: 100px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
     width: 80%;
     align-items: center;
     margin: auto;
}
.specifics i{
    font-size: 1.5rem !important;
}
.specifics p {
    height: 60px;
    width: 340px;
}

@media screen and (max-width: 1120px) {
    .address{
        margin-top: 30px;    
    }
}