
@font-face{
    font-family: "freshman"; 
    src: url('../fonts/Freshman.ttf'); 
 }
@font-face{
    font-family: "sketchy";
    src: url('../fonts/CabinSketch-Regular.ttf'); 
 }
html{
    height: 100%;
}

body{
    padding: 0;margin: 0;
    box-sizing: border-box;
    background: url("../images/back.jpg") no-repeat;
    color: #1d0c80;
    background-size: cover;
    font-family: "sketchy";
    text-align: center;
    background-attachment: fixed;
    height: 100%;
}

.container-fluid{
    background-color: rgba(255,255,255,.65);
    /* height: 100%; */
    padding-top: 100px;
}
.container{
    background-color: rgba(255,255,255,.65);
    margin-top: 0px;
}

header{
    /* height: 70px; */
    background-color: #f22;
    text-align: center;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    position: fixed;
    width: 100%;
    color: #fff;
    flex-wrap: wrap-reverse;
    z-index: 999;
    margin-top: 0;
    padding: 15px;
}
header h1{
    font-family: "freshman";
    font-size: 2rem;
    width: 75%;
}
header a{
    width: 180px;
}
h2{
    color: #333;
    z-index: 999;
    font-size: 1.6rem;
}


/* container of districts list, map and form */
.main{
    margin:-80px auto auto auto;
    display: flex;
    justify-content: space-between;
    /* height: 100%; */
    height: 100vh;
    width: 84%;
    align-items: center;
    flex-wrap: wrap;
}

svg{
    transform: scale(1.35);
    height: 400px;
    /* width: 33%; */
    z-index: 2;
}

.district:hover{
    fill: #88ACE0;
    cursor: pointer;
}

.districts-text{
    width: 25%;
    display: flex;
    flex-direction: column;
}

.districts-text .text{
    text-align: left;
}
.districts-text h3{
    text-align: left !important;
    color: #333;
    font-size: 1.4rem;
    /* width: 80%; */
    margin: auto;
}
.districts-text label:hover{
    cursor: pointer;
}
.districts-text .text ul{
    text-align: left;
    transform: scaleY(0);
    height: auto;
    transition: all 0.6s ease;
}
.districts-text ul li{
    margin-top:4px;
}

.hidden{
    display: none;
}

/* district nums */
tspan{
    color: #333 !important;
    font-size: .8rem;
}

.form{
    width: 25%;
    float: right;
}


@media screen and (max-width: 1100px) {

    .districts-text{
        display: none;
    }
    svg{
        /* margin-top: 80px; */
        margin-left: 50px;
    }
    
    .form{
       width: 40% !important;
       /* min-width: 280px; */
    }
}

@media screen and (max-width: 840px) {
    .container-fluid{
        padding-top: 130px;
    }
    header h1{
        font-size: 1.7rem;
    }
    .main{
        flex-direction: column;
        justify-content: center;
        height: 120%;
        padding-bottom: 30px;
        margin-top: 50px;
    }
    svg{
        transform: scale(1.2);
        margin: auto;
        padding-top: 20px;
    }
    .form{
        width: 74% !important;
        margin-top: 20px;
    }
    header{
        justify-content: center;
    }
}


/*results*/
.results h2, .details-page h2{
    padding-top: 100px;
}

.club-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
}
.club-list a {
    text-decoration: none;
}

.club-detail{
    width: 300px;   
    /* margin: 8px auto; */
    padding: 20px;
    background: url("../images/fanion.png") no-repeat center;
    background-size: cover;
    /* height: 320px; */
    min-height: 320px;
}
.club-detail h3{
    width: 90%;
    margin: auto;
    padding-top: 20px;
}
.club-detail h4{
    background-color: rgb(255, 36, 36, .6);
    color: #fff;
    margin: 0;
    padding:12px 0;
    width: 100%;
}
.club-detail .postal{
    margin-bottom: 20px;
}
.club-detail:hover{
    transform: scale(1.05);
    transition: transform .6s ease;
}
/* details page*/
.detail-body {
    width: 100%;
    padding: 0;margin: 0;
    /* background: url("../images/back2.jpg") no-repeat; */
}
.details-page{
    width: 72% !important;
    background-color: rgba(255,255,255,.65);
    margin: auto;
}

.only-club-detail{
    width: 90%;
    margin: auto;
}

.name-and-discipline{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 80px;
    align-items: flex-end;
}
.pennant{
    background: url("../images/fanion.png") no-repeat;
    background-size: cover;
    width: 380px;
    min-height: 300px;
    text-align: center;
    margin-bottom: 10px;
}

.pennant h2, h3{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: -55px;
    font-size: 2.1rem;
}
.pennant h3{
    color: #fff;
    background-color: rgb(255, 34, 34, .6);
    margin-top: 20px;
    padding: 8px 0;
}


.only-club-detail i{
    font-size: 2.8rem;
    margin: 30px 0;
    opacity: .8;
}

.only-club-detail p {
    font-size: 1.4rem;
}

.web-link{
    margin: 40px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
}
.web-link a {
    background-color: rgba(64, 121, 253, 0.924);
    color: #fff;
    height: 60px;
    padding: 8px 28px;
    font-size: 1.6rem;
}
.arrow1{
    transform: rotate(45deg);
    font-size: 1.5em !important;
}

.arrow2{
    transform: rotate(220deg);
    font-size: 1.5rem !important;
}

.even{
    transform: skewY(12deg);
}
.odd{
    transform: skewY(-12deg);
}


.specifics{
    padding-bottom: 200px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
     width: 80%;
     align-items: center;
     margin: auto;
}
.specifics i{
    font-size: 1.5rem !important;
}
.specifics p {
    height: 60px;
    width: 340px;
}