
@font-face{
    font-family: "freshman"; 
    src: url('../fonts/Freshman.ttf'); 
 }
@font-face{
    font-family: "sketchy";
    src: url('../fonts/CabinSketch-Regular.ttf'); 
 }

body{
    padding: 0;margin: 0;
    box-sizing: border-box;
    background: url("../images/back.jpg") no-repeat;
    color: rgb(29, 12, 128);
    background-size: cover;
    font-family: "sketchy";
    text-align: center;
    background-attachment: fixed;
}

.container-fluid{
    background-color: rgba(255,255,255,.65);
    height: 100vh;
}
.container{
    background-color: rgba(255,255,255,.65);
    margin-top: 0px;
}

header{
    height: 70px;
    background-color: #f55;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    color: #fff;
    z-index: 999;
}
header h1{
    font-family: "freshman";
    font-size: 2rem;
    display: flex;
}

h2{
    color: #333;
    z-index: 999;
    font-size: 1.6rem;
}
/* .search-results h2{
    padding: 20px;
} */

/* container of districts list, map and form */
.main{
    display: -webkit-flex;
    margin: auto;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    height: 75vh;
    width: 84%;
    align-items: center;
}

svg{
    transform: scale(1.3);
    /* margin-top: 8%; */
    height: 400px;
    width: 33%;
    z-index: 2;
    position: relative;
}

.district:hover{
    fill: #ccc;
    cursor: pointer;
}

.districts-text{
    text-align: left;
    width: 30%;
}
.districts-text h3{
    color: #333;
    font-size: 1.4rem;
}
.districts-text ul{
    text-align: left;
    transform: scaleY(0);
    height: 0;
    transition: all 0.6s ease;
}
.districts-text ul li{
    margin-top:10px;
}
.hidden{
    display: none;
}


/* district nums */
tspan{
    color: #333 !important;
    font-size: .8rem;
}


/*results*/
.results h2, .details-page h2{
    padding-top: 100px;
}

.club-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
}

.club-detail{
    width: 300px;   
    padding:30px 12px;
    margin: 8px auto;
    box-shadow: 2px 2px 2px #ccc, -2px -2px 2px #ccc;
    background: url("../images/fanion.jpg") no-repeat;
    background-size: cover;
}

/* details page*/
.name-discipline{
    display: flex;
    justify-content: space-around;
    padding-top: 66px;
    align-items: flex-end;
}
.pennant{
    background: url("../images/fanion.jpg") no-repeat;
    background-size: cover;
    width: 340px;
    height: 300px;
    text-align: center;
}
.pennant h2, h3{
    width: 100%;
    text-align: center;
}
.pennant h3{
    padding-top: 60px;
    color: #fff;
}
.only-club-detail{
    width: 90%;
    margin: auto;
}

.only-club-detail i{
    font-size: 2.8rem;
    margin: 30px 0;
    opacity: .8;
}

.only-club-detail p {
    font-size: 1.4rem;
}

.web-link{
    margin: 40px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
}
.web-link a {
    background-color: rgba(64, 121, 253, 0.924);
    color: #fff;
    height: 60px;
    padding: 8px 28px;
    font-size: 1.6rem;
}
.arrow1{
    transform: rotate(45deg);
    font-size: 1.5em !important;
}

.arrow2{
    transform: rotate(220deg);
    font-size: 1.5rem !important;
}

.even{
    transform: skewY(12deg);
}
.odd{
    transform: skewY(-12deg);
}


.specifics{
    padding-bottom: 200px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
     width: 80%;
     align-items: center;
     margin: auto;
}
.specifics i{
    font-size: 1.5rem !important;
}
.specifics p {
    height: 60px;
    width: 340px;
}