<div class="districts-text">
    
    <div class="text text-31000">
        <h3>
            <span><i class="fas fa-map-marker-alt"></i></span>
            {# <input id="" class="" type="checkbox" value="31000"/> #}
            <label for="postals_1">Toulouse Centre</label>
        </h3>
            <ul>
                <li>Capitole - Arnaud-Bernard - Carmes</li>
                <li>Amidonniers - Compans-Caffarelli</li>
                <li>Les Chalets - Bayard - Belfort - Saint-Aubin - Dupuy</li>
            </ul>
    </div>

    <div class="text text-31100">
        <h3><span><i class="fas fa-map-marker-alt"></i> </span> 
            {# <input id="" class="" type="checkbox" value="31100"/> #}
            <label for="postals_2">Toulouse Rive Gauche</label>
            </h3>
            <ul>
                <li>Saint-Cyprien</li>
                <li>Croix de Pierre - Route d'Espagne</li>
                <li>Fontaine Lestang - Arènes - Bagatelle - Papus - Tabar - Bordelongue - Mermoz - La Faourette</li>
                <li>Casselardit - Fontaine-Bayonne - Cartoucherie</li>
            </ul>
    </div>

    <div class="text text-31200">
        <h3> <span><i class="fas fa-map-marker-alt"></i> </span>
            {# <input id="" class="" type="checkbox" value="31200"/> #}
            <label for="postals_4">Toulouse Nord</label>
        </h3>
            <ul>
                <li>Minimes - Barrière de Paris - Ponts-Jumeaux </li>
                <li>Sept-Deniers - Ginestous - Lalande</li>
                <li>Trois Cocus - Borderouge - Croix-Daurade - Paleficat - Grand Selve</li>
            </ul>
    </div>

    <div class="text text-31300">
        <h3> <span><i class="fas fa-map-marker-alt"></i> </span> 
            {# <input id="" class="" type="checkbox" value="31300"/> #}
            <label for="postals_5">Toulouse Ouest</label>
        </h3>
            <ul>
                <li>Arènes Romaines - Saint-Martin du Touch - Purpan</li>
                <li>Lardenne - Pradettes - Basso-Cambo</li>
                <li>Mirail-Université - Reynerie - Bellefontaine</li>
                <li>Saint-Simon - Lafourguette - Oncopole </li>

            </ul>
    </div>
  

    <div class="text text-31400">
        <h3><span><i class="fas fa-map-marker-alt"></i> </span>
            {# <input id="" class="" type="checkbox" value="31400"/> #}
            <label for="postals_6">Toulouse Sud Est</label>
            </h3>
            <ul>
                <li>Pont des Demoiselles - Ormeau - Montaudran - La Terrasse - Malepère</li>
                <li>Rangueil - Sauzelong - Pech David - Pouvourville</li>
                <li>Saint-Michel - Le Busca - Empalot - Saint-Agne</li>
            </ul>
    </div>
  
    <div class="text text-31500">
        <h3><span><i class="fas fa-map-marker-alt"></i> </span> 
            {# <input id="" class="" type="checkbox" value="31500"/> #}
            <label for="postals_7">Toulouse Est</label>
        </h3>
            <ul>
                <li>Lapujade - Bonnefoy - Périole - Marengo - La Colonne</li>
                <li>Jolimont - Soupetard - Roseraie - Gloire - Gramont - Amouroux</li>
                <li>Bonhoure - Guilheméry - Château de l'Hers - Limayrac - Côte-Pavée</li>
            </ul>
    </div>

</div>